{% extends "base.html" %}
{% block title %}Delete Account{% endblock %}
{% block content %}
    <div class="delete-container">
        <h1>Delete Account</h1>
        <form method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.password(size=32, placeholder="Password") }}<br>
                <span class="delete-warning">WARNING: This will be permanent!</span>
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit(class="btn btn-primary") }}</p>
        </form>
    </div>
{% endblock %}