{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
    </li>
{% endblock %}

{% block content %}

    <div class="row">
        <div style="align-items: center; justify-content: center; text-align: center;" class="col-md-8">
            <a href="{{ url_for('create_post') }}" style="margin:20px;" class="btn btn-primary">Create A Post</a>
            {% for post in posts %}
                <div style="margin: 20px; width:fit-content; height: auto;" class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text">{{ post.body }}</p>
                        <a href="{{ url_for('delete_post', post_id=post.id) }}" class="btn btn-danger">Delete Post</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}