{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
    </li>
{% endblock %}

{% block content %}
    <div class="home-container">
        <div class="home-left">
            <div class="home-title">
                <img src="{{url_for('static',filename = 'images/profilePic.png')}}" alt="Profile Picture"/>
                <div class="home-title-text">
                    <p>Welcome back,</p>
                    <h2>{{ current_user.username }}</h2>
                </div>
            </div>

            <div class="home-nav">
                <a href="#">My Profile</a>
                <a href="{{url_for('friends')}}">My Friends</a>
                <a href="#">My Posts</a>
                <a href="{{url_for('messages')}}">Messages</a>
                <a href="{{ url_for('logout') }}">Logout</a>
            </div>
        </div>

    <div class="home-right">
        <div>
            <form method="get" action="{{ url_for('user_profile') }}" class="search-form">    
                <input type="text" class="form-input" id="username" name="username" placeholder="Username"/>
                <button type="submit" class="btn btn-primary">Search</button>
                <a href="{{ url_for('create_post') }}" style="margin:20px;" class="btn btn-primary">Create A Post</a>
            </form>
        </div>
        <div class="card-container">
            {% for post in posts %}
                <div class="home-card">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text">{{ post.content }}</p>
                        <div class="card-buttons">
                            <p>{{ post.likes }}</p>
                            <p>{{ post.dislikes }}</p>
                        </div>
                        {% if post.author != current_user %}
                            <a href="{{ url_for('like', post_id=post.id) }}" class="btn btn-primary">Like</a>
                            <a href="{{ url_for('dislike', post_id=post.id) }}" class="btn btn-danger">Dislike</a>
                        {% endif %}
                        {% if post.author == current_user %}
                            <a href="{{ url_for('delete_post', post_id=post.id) }}" class="btn btn-danger">Delete</a>
                            <a href="{{ url_for('update_post', post_id=post.id) }}" class="btn btn-secondary">Edit</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}