{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
    <div class="register">
        <h1>Register</h1>
        <form action="" method="post">
        <div class="form-field">
            <input type="text" class="form-input" id="username" name="username" placeholder="Enter username">
        </div>
        <div class="form-field">
            <input type="email" class="form-input" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-field">
            <input type="password" class="form-input" id="password" name="password" placeholder="Password">
        </div>
        <div class="form-field">
            <input type="password" class="form-input" id="confirm_password" name="confirm_password" placeholder="Confirm Password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}