{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
    </li>
{% endblock %}

{% block content %}
    <div class="user-container">
        <div class="user-body">
            <img src="{{url_for('static',filename = 'images/profilePic.png')}}" alt="Profile Picture"/>
            <div>
                <h1 class="user-name">{{ user.username }}</h1>
                {% if user.id in current_user.following %}
                    <form method="post" action="{{ url_for('unfollow', user_id=user.id) }}">
                        <button type="submit" href="{{ url_for('unfollow', username = user.username) }}" class="btn btn-primary">Following</button>
                    </form>
                {% else %}
                    <form method="post" action="{{ url_for('follow', user_id=user.id) }}">
                        <button type="submit" href="{{ url_for('follow', username = user.username) }}" class="btn btn-primary">Follow</button>
                    </form> 
                {% endif %}
            </div>
        </div>

        {% for post in user.posts %}
        <div style="margin: 20px; width:fit-content; height: auto;" class="card">
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.content }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}