{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
    </li>
{% endblock %}

{% block content %}
    <div class="user-container">
        <div class="user-body">
            <img src="{{url_for('static',filename = 'images/profilePic.png')}}" alt="Profile Picture"/>
            <div>
                <h1 class="user-name">{{ user.username }}</h1>
                <button onclick="myFunction()" id="myButton" value="Follow">Follow</button>
                <!-- <div><h2>Followers</h2></div>
                <body><h3 id = "output"></h3></body> -->
            </div>
        </div>

        <script>
            function myFunction() {
            var count = 0;
            var btn = document.getElementById("myButton");
            
            if (btn.value == "Follow") {
                btn.value = "Following";
                btn.innerHTML = "Following";
                count++
            }
            else {
                btn.value = "Follow";
                btn.innerHTML = "Follow";
            }
            document.getElementById('output').innerHTML = count;
            }
            </script>

        {% for post in user.posts %}
        <div style="margin: 20px; width:fit-content; height: auto;" class="card">
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.content }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
